# Build folders
build/
Build/
Debug/
Release/
ipch/
out/
CMakeFiles/

# Dependencies folder
dependencies/

# Resources folder
res.zip
res/

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
